/* Estilo general del footer */
footer {
  background-color: #4A90E2; /* Azul Claro */
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF; /* Texto blanco */
  font-family: 'Arial', sans-serif;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); /* Sombra superior */
}

footer div {
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer div:first-child {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #D1D5DB; /* Gris Suave */
}

/* Temas claros y oscuros */
body.light footer {
  background-color: #34D399; /* Verde Menta */
}

body.dark footer {
  background-color: #FFD700; /* Amarillo Dorado */
}

/* Texto y enlaces en temas claros */
body.light footer a, body.light footer div p {
  color: #FFFFFF; /* Texto blanco */
}

/* Texto y enlaces en temas oscuros */
body.dark footer a, body.dark footer div p {
  color: #000000; /* Texto negro */
}

/* Borde inferior en temas claros */
body.light footer div:first-child {
  border-bottom: 1px solid #FFD700; /* Amarillo Dorado */
}

/* Borde inferior en temas oscuros */
body.dark footer div:first-child {
  border-bottom: 1px solid #34D399; /* Verde Menta */
}

/* Hover para enlaces */
footer a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

body.light footer a:hover {
  color: #FFD700; /* Amarillo Dorado */
}

body.dark footer a:hover {
  color: #34D399; /* Verde Menta */
}
